<div class="outer">
    <div class="left-container" *ngIf="chatport">
        <nav class="nav">
            <img src="assets/demo.jpg" class="nav-left-image">
            <div class="nav-options">
                <div class="search">
                    <input type="text" class="search-field" placeholder="Search"*ngIf="searchShow">
                    <button type="submit" class="search-button" (click)="fnSearchShow()"><mat-icon >search</mat-icon></button>
                    
                </div>
                <!-- <mat-icon >search</mat-icon> -->
                <mat-icon >chat</mat-icon>
                <div>
                    <mat-icon  [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu"  xPosition="before">
                        <button mat-menu-item routerLink="/superadmin/superadminprofile">
                            <mat-icon>person</mat-icon>
                            <span>My account</span>
                            </button>
                            <button mat-menu-item (click)="logout()">
                            <mat-icon>cancel</mat-icon>
                            <span>Logout</span>
                            </button>
                    </mat-menu>
                </div>
            </div>
        </nav>
        <mat-tab-group [(selectedIndex)]="TabIndex" >
            <mat-tab label="Chat">
                <ng-template mat-tab-label>
                    <span (click)="getChat()">Chat</span>
                </ng-template>
                <div class="left-details">
                    <!-- <div class="left-sidenav">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                        <img src="assets/pp.jpg" class="left-sidenav-profile">
                    </div> -->
                    <div class="nav-first-right" *ngFor="let chat of chatDetail">
                        <div class="nav-right-data"  (click)="mobileView()"routerLink="/superadmin/chat">
                            <img class="nav-right-pic" src="assets/demo.jpg">
                            <div class="rightlines">
                                <div class="right-first-line">
                                    <p class="institute-name">{{chat.name}}</p>
                                    <p class="time">2:30PM</p>
                                </div>
                                <div class="right-second-line" >
                                    <p class="right-message">Lorom ipsum dolor</p>
                                    <p class="message-count">2</p>
                                </div>
                            </div>
                        </div>
                        <hr class="under">
                      
                    </div>
                </div>
            </mat-tab>
            
            <mat-tab label="Admin" >
                <ng-template mat-tab-label>
                    <span (click)="getAdmin()">Admin</span>
                </ng-template>
                <div class="add-admin"  (click)="mobileView()" routerLink="/superadmin/adminadd" >
                    <p>Add new admin</p>
                    <mat-icon>add</mat-icon>
                </div>
        	    <div class="admin-detail">
                    <div  *ngFor="let admin of admin" class="admins" (click)="mobileView()"routerLink="/superadmin/adminview/{{admin.user_id}}" > <p class="admin-name">{{admin.name}}</p><img src="assets/demo.jpg" class="admin-image-nav"></div>
                </div> 
	        </mat-tab> 
            <mat-tab label="School"> school</mat-tab>
            <mat-tab label="Super Club"> super club</mat-tab>
            <mat-tab label="Context"> Context</mat-tab>
        </mat-tab-group>
    </div>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>



