.cancel-btn{
    background-color: orangered;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: none;
    margin-right: 5%;
    width: 45%;
    outline: 0 !important;
    cursor: pointer;
}
.submit-btn{
    background-color: orangered;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: none;
    // margin-right: 5%;
    width: 45%;
    outline: 0 !important;
    cursor: pointer;
}
.submit-btn:hover {opacity: 0.6}
.cancel-btn:hover {opacity: 0.6}