
.cancel-btn{
    background-color: orangered;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: none;
    margin-right: 5%;
    width: 45%;
    outline: 0 !important;
    cursor: pointer;

}
.submit-btn{
    background-color: orangered;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: none;
    // margin-right: 5%;
    width: 45%;
    outline: 0 !important;
    cursor: pointer;
}
.submit-btn:hover {opacity: 0.6}
.cancel-btn:hover {opacity: 0.6}

.mobile-number{

   display: flex;
   justify-content: center;
   align-items: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    height: 30px;
}
.message{
    text-align: center;
    color: gray;
}
#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
  }
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 190px; 
    overflow: hidden;
  }
  .mobile-number-input{
      width: 100%;
  }