::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
@media(min-width:100px) and (max-width:500px){
    .right-container{
        width: 100vw;
    }
    .chat-function{
        width: 100vw;
        height: 6vh;
        padding: 5px;
    }
    .chat-container{
        min-height: 80vh;
        max-height: 80vh;
       overflow-y: scroll;
    }
    .option-select{
        width: 95vw;
        height: 15%;
    }
    .right-sidenav{
        width: 100vw;
    }
    .image-detail-right{
        width: 70%;
        margin-left: 2%;
    }
    .input-cont{
        width: 40%;
    
    }
    .nav-right{
        height: 8vh;
    }
}
@media(min-width:500px){
    .right-container{
        width: 70vw;
    }
    .chat-function{
        width: 70%;
    }
    .chat-container{
        min-height: 85vh;
        max-height: 85vh;
        overflow-y: scroll;
        // padding-bottom: 10%;
    }
    .option-select{
        width: 65vw;
        height: 15%;
    }
    .right-sidenav{
        width: 18vw;
    }
    .image-detail-right{
        width: 50%;
    }
    .back-button{
        display: none;
    }
    .input-cont{
        width: 60%;
    }
    
    .nav-right{
        height: 15vh;
    }
}

.right-container {
    // width: 70vw;
    height: 100%;
  
   .nav-right{
       display: flex;
       justify-content: space-between;
       align-items: center;
    //    height: 15vh;
       .image-detail-right{
          
           display: flex;
          align-items: center;
           .image-nav-right{
               margin-left: 5%;
               margin-right: 5%;
               height: 50px;
               width: 50px;
               border-radius: 50%;
           }
           .profile-name-right{
            margin-bottom: 0;
           }
       }
    }
   .chat-container{
       background-color: #f1f1f1 ;
      
    //    height: 85vh;
    .send-msg-list{
        color: black;
        background: white     ;
        // background: white;
        float: right;
        max-width: 70%;
        clear: both;
        padding-top: 1%;
        padding-left: 5px;
        padding-right:10px;
        border-radius: 5px;
        margin-top: 1%;
        margin-bottom: 2px;
        margin-right: 5%;
        word-wrap: break-word;
        .send-msg-content{
            margin-bottom: 0 !important;
        }
        .send-msg-id{
            display: none;
        }
        .send-msg-status-icon{
            color: orangered;
            float: right;
            margin-top: 0 !important;
          font-size: 8px;
            margin-bottom: 1px;
            height: 12px;
            width: 6px;
        }
   
    }
    .receive-msg-list{
        color: black;
        background: white   ;
        // background: white;
        float: left;
        max-width: 70%;
        clear: both;
        padding-top: 1%;
        padding-left: 5px;
        padding-right: 10px;
        border-radius: 5px;
        margin-top: 1%;
        margin-bottom: 2px;
        margin-left: 5%;
        word-wrap: break-word;
        .receive-msg-content{
            margin-bottom: 0 !important;
        }
        .receive-msg-id{
            display: none;
        }
        .receive-msg-status-icon{
        display: none;
        }
   
    }
    .history-msg-list{
     
        // background: white;
       
        max-width: 70%;
        clear: both;
        padding-top: 1%;
        padding-left: 5px;
        padding-right: 10px;
        border-radius: 5px;
        margin-top: 1%;
        margin-bottom: 2px;
       
        word-wrap: break-word;
        .history-msg-content{
            margin-bottom: 0 !important;
        }
        .history-msg-id{
            display: none;
        }
        .history-msg-status-icon{
            color: orangered;
            float: right;
            margin-top: 0 !important;
          font-size: 8px;
            margin-bottom: 1px;
            height: 12px;
            width: 6px;
        }
   
    }
  
       .option-select{
        // width: 65vw;
        position: absolute;
        bottom: 100px;
        
        background-color:white;
        border-radius: 10px;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
            .mat-icon{
                height: 30px;
                width: 30px;
                color: orangered;
            }
            .option{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        .chat-function{
            background-color: #f1f1f1;
            display: flex;
            position: fixed;
            bottom: 0;
            // width: 70%;
            .input-msg{
                display: flex;
                align-items: center;
                width: 90%;
                margin-right: 2%;
                position: relative;
                margin-left: 2%;
                border-radius: 10px;
                border:none;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 5%;
                .mat-icon{
                    // margin-top: 2%;
                    color: gray;
                    width: 40px;
                }
                .input-cont{
                    // width: 60%;
                    height: 30px;
                    border: none;
                    outline: 0 !important;
                }
            }
            .voice{
                margin-right: 2%;
                border-radius: 50%;
                background-color: orangered;
                color: white;
                border: none;
                outline: 0 !important;
            }
        }
    }
    .close-but{
                float: left;
            }
    .sidenav-contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .sidenav-img{
            width: 50px;
            height: 50px;
            border-radius: 50% ;
        }
        .context-head{
            margin-bottom: 0;
        }
        .media-head{
            margin-top: 5%;
            margin-bottom: 0;
        }
      .medias{
            display: flex;
            width: 15vw;
            height: 100px;
            overflow-x: scroll;
          .media-tile{
              height: 50px;
              width: 50px;
              margin-right: 10%;
              border-radius: 10px;
            }
        }
    }
 
  


}
.chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 5%;
    padding-bottom: 10%;
 }
 .chat{
  
    display: flex;
    flex-direction: column;
    overflow: scroll;
 }
//  .li-class{
//      background-color: white;
//      max-width: 70%;
//      clear: both;
//      border-radius: 10px;
//      margin-bottom: 5px;
//      margin-top: 5px;
//      word-wrap:break-word ;
//     //  font-family: 'Helvetica, Arial, sans-serif';
//      .flex-time{
//          display: flex;
//          justify-content: flex-end;
//      }
//      .id-class{
//          display: none;
//      }
//  }      
 